body { font-family: sans-serif; background-color: #e3f2fd; text-align: center; }
h1 { color: #1565c0; }
#anteprima { text-align: left; width: 90%; margin: auto; background: #fff; padding: 10px; border: 1px solid #ccc; white-space: pre-wrap; }
